/*Import font to use for heading and regular text*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Permanent+Marker&display=swap");

/* Remove default margin, padding, and change box-sizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Color Palette*/
:root {
  --bkgd-color: #f5f5f5;
  --primary-color: #2c3e50;
  --secondary-color: #e74c3c;
  --accent-color: #d49ec2;
  --heart-color: #dbd3d9;
}

/* Set default color, font-size, and other properties */
html {
  color: var(--bkgd-color);
  margin: clamp(2rem, 16%, 8rem);
  font-size: 18px;
  font-family: "Kalam", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

#date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  color: var(--primary-color);
  font-size: clamp(2.5rem, 5vw + 0.5rem, 5rem);
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Permanent Marker", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

h2 {
  color: var(--secondary-color);
  font-size: clamp(1.75rem, 3vw + 0.5rem, 3rem);
  line-height: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
}

#map-caption {
  font-size: clamp(0.75rem, 1vw + 0.5rem, 2rem);
  margin: 5px auto;
  color: var(--secondary-color);
}

#desc {
  font-size: clamp(1rem, 1.5vw + 0.5rem, 2.5rem);
  margin-bottom: 10px;
}

/*Styling for the images*/
.responsive-img {
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}

/* Set size of Google Map display*/
#map {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

/*Styling for buttons*/
button {
  background: transparent;
  transition: transform 0.2s ease;
  border: none;
  outline: none;
}

button:hover {
  transform: scale(0.96);
  cursor: pointer;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--button-color);
  margin: 0 1vw;
}

#share-btns {
  display: flex;
  gap: 10px;
}

#share-btns i {
  font-size: 10vw;
  color: var(--accent-color);
}

#heart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  font-size: 1.75rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: var(--accent-color);
}

#heart-btn i {
  font-size: 10vw;
}

/* Media Query to adjust format of images to 2 columns */
@media (min-width: 720px) {
  /* Adjust sizes and of fa-icons and buttons*/
  #heart-btn {
    height: 10vw;
    width: 10vw;
  }

  #share-btns i {
    font-size: 8vw;
  }
  #heart-btn i {
    font-size: 5vw;
  }

  #share-btns {
    gap: 2vw;
  }

   .btns{
    margin: 0 2vw;
   }

  /* Display the two images next to each other */
  figure {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
  }
  
  .responsive-img {
    width: 49%;
  }
}

@media (min-width: 1000px) {
  /* Increase line height of h2 element */
  h2 {
    line-height: 2.5rem;
  }
}
